<section class="w3l-features py-5" id="features">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-lg-3 mb-4">
            <h6 class="title-subw3hny mb-1">Ne Yapıyoruz</h6>
            <h3 class="title-w3l">Hizmetlerimiz</h3>
        </div>
        <div class="main-cont-wthree-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h4><a href="/MainServices/Index/" class="title-head mb-3">Taşımacılık</a></h4>
                        <p class="text-para">Dünyanın her yerine, her şekilde taşımacılık.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <h4><a href="/MainServices/Index/" class="title-head mb-3">Canlı Takip Sistemi</a></h4>
                        <p class="text-para">Kargonuzu her anında tek tıkla takip edebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-people-carry"></i>
                        </div>
                        <h4><a href="/MainServices/Index/" class="title-head mb-3">Dünyaçapında Bir Hizmet</a></h4>
                        <p class="text-para">Dünya'nın dört bir yanında kabul görmüş dev güven.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

