
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hakkımızda</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Templates/Transpolar-Starter/assets/css/style-starter.css">
</head>

<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1>
                    <a class="navbar-brand" href="/MainPage/Index/">
                        <i class="fas fa-truck-moving"></i> Transpolar
                    </a>
                </h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/MainPage/Index/">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MainAbout/Index/">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/MainServices/Index/">Hizmetlerimiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MainContact/Index/">İletişim</a>
                        </li>
                    </ul>
                    <!--/search-->
                    <button id="trigger-overlay" class="searchw3-icon mx-xl-4 mx-lg-3" type="button"><i class="fas fa-search"></i></button>
                    <!-- open/close -->
                    <div class="overlay overlay-slidedown">
                        <button type="button" class="overlay-close"><i class="fas fa-times"></i></button>
                        <nav class="w3l-formhny">
                            <h5 class="mb-3">Arama Paneli</h5>
                            <form action="#" method="GET" class="d-sm-flex search-header">
                                <input class="form-control me-2" type="search" placeholder="Aranacak kelimeyi giriniz..." aria-label="Ara" required>
                                <button class="btn btn-style btn-primary" type="submit">Ara</button>
                            </form>
                        </nav>
                    </div>
                    <!--//search-->
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-lg-5 mt-4">
                            Servislerimiz
                        </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="/MainPage/Index/">Ana Sayfa</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Servislerimiz </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/w3l-index3-->
    <section class="w3l-index-about py-5" id="about2">
        <div class="container py-md-5 py-2">
            <div class="row">
                <div class="col-lg-6 pe-lg-5">
                    <div class="w3l-abouthny-img">
                        <img src="~/Templates/Transpolar-Starter/assets/images/ab.jpg" alt="" class="img-fluid radius-image">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="w3l-abouthny-info">
                        <h6 class="title-subw3hny">Neler Yapıyoruz</h6>
                        <h3 class="title-w3l">
                            Hava Deniz Kara Farketmeksizin Taşımacılık.
                        </h3>
                        <p class="mt-4">İstediğiniz ağırlıkta & büyüklükte istediğiniz ürünü 7/24 hizmet veren ekibimizle Dünya'nın dört bir yanına güvenle taşıyoruz. </p>
                        <ul class="w3l-right-book w3l-right-book-grid mt-md-5 mt-4">
                            <li><span class="fas fa-check"></span> Uygun</li>
                            <li><span class="fas fa-check"></span> Gerçek Zamanlı İzleme</li>
                            <li><span class="fas fa-check"></span> Depolama</li>
                            <li><span class="fas fa-check"></span> Kargo Güvenliği</li>
                            <li><span class="fas fa-check"></span> 7/24 Canlı Destek</li>
                            <li><span class="fas fa-check"></span> Hızlı ve Sağlam Kargoculuk</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-index3-->
    <!--/features-section-->
    <section class="w3l-features py-5" id="work">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="title-subw3hny mb-1">Hizmetlerimiz</h6>
                <h3 class="title-w3l">Sunduklarımız</h3>
            </div>
            <div class="main-cont-wthree-2">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-user-clock"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Gerçek Zamanlı Takip Sistemi</a></h4>
                            <p class="text-para">Nerede olursanız olun ister arayarak öğrenebilir, ister telefonunuzdan veya bilgisayarınızdan kargonuzun nerede olduğunu anlık takip edebilirsiniz</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-warehouse"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Depolama</a></h4>
                            <p class="text-para">Ürünlerinizi geçici süreliğine depolayabilirsiniz.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-truck-loading"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Kargo Güvenliği</a></h4>
                            <p class="text-para">Ürünleriniz tüm önlemler alınarak bir süreçten geçerek kargolanır. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-shield-alt"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Güvenli Ödeme Yöntemleri</a></h4>
                            <p class="text-para">Dünya standartlarında ödeme yöntemleri sunulur. İllegal bir durum asla söz konusu olamaz. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-truck"></i>
                            </div>
                            <h4><a href="#service" class="title-head">Hızlı Taşımacılık</a></h4>
                            <p class="text-para">Ürününüz elimize geçtiği andan itibaren asla zaman kaybetmeyiz. En kısa sürede elinize ulaştırmak vizyonumuz. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-headset"></i>
                            </div>
                            <h4><a href="#service" class="title-head">7/24 Canlı Destek</a></h4>
                            <p class="text-para">Canlı destek ekibimizle günün istediğiniz saatinde görüşebilirsiniz. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//features-section -->
    <!--/servicess-2-->
    <section class="locations-1 w3services-3">
        <div class="locations py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="heading text-center mx-auto">
                    <h6 class="title-subw3hny mb-1">Neler Yapıyoruz</h6>
                    <h3 class="title-w3l mb-3">Taşıma Hizmetlerimiz</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="~/Templates/Transpolar-Starter/assets/images/g3.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-road"></i>
                                        <h3 class="title">Kara Yolu</h3>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="~/Templates/Transpolar-Starter/assets/images/g6.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-helicopter"></i>
                                        <h3 class="title">Hava Yolu</h3>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">

                                    <img class="img-fluid" src="~/Templates/Transpolar-Starter/assets/images/g1.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-ship"></i>
                                        <h3 class="title">Deniz Yolu</h3>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mt-md-5 mt-4">
                        <div class="w3property-grid">
                            <a href="#property">
                                <div class="box16">
                                    <img class="img-fluid" src="~/Templates/Transpolar-Starter/assets/images/g5.jpg" alt="">
                                    <div class="box-content text-center">
                                        <i class="fas fa-water"></i>
                                        <h3 class="title">Şehir İçi Kargoculuk</h3>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--/servicess-2-->
    <!--/footer-9-->
    <footer class="w3l-footer9">
        <section class="footer-inner-main py-5">
            <div class="container py-md-4">
                <div class="right-side">
                    <div class="row footer-hny-grids sub-columns">
                        <div class="col-lg-4 sub-one-left pe-lg-5">
                            <h2>
                                <a class="navbar-brand" href="index.html">
                                    <i class="fas fa-truck-moving"></i> Transpolar
                                </a>
                            </h2>
                            <p class="footer-phny mt-3">Emanetiniz emin ellerde.</p>
                            <div class="columns-2 mt-4 pt-lg-2">
                                <ul class="social">
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-google-plus-g"></span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-8 sub-two-right">
                            <div class="row">
                                <div class="col-lg-3 sub-two-right">
                                    <h6>Biz Kimiz</h6>
                                    <ul>
                                        <li>
                                            <a href="#">Hakkımızda</a>
                                        </li>
                                        <li>
                                            <a href="#">Ekibimiz</a>
                                        </li>
                                        <li>
                                            <a href="#">Yenilikler & Medya</a>
                                        </li>
                                        <li>
                                            <a href="#">Örnek Çalışmalarımız</a>
                                        </li>
                                        <li>
                                            <a href="#">Bizimle Çalışın</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 sub-two-right">
                                    <h6>Yaptıklarımız</h6>
                                    <ul>
                                        <li>
                                            <a href="#">Depolama</a>
                                        </li>
                                        <li>
                                            <a href="#">Havayolu Taşımacılığı</a>
                                        </li>
                                        <li>
                                            <a href="#">Denizyolu Taşımacılığı</a>
                                        </li>
                                        <li>
                                            <a href="#">Karayolu Taşımacılığı</a>
                                        </li>
                                        <li>
                                            <a href="#">Tedarik Zinciri</a>
                                        </li>
                                        <li>
                                            <a href="#">Paketleme</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 sub-two-right">
                                    <h6>Şirket</h6>
                                    <ul>
                                        <li>
                                            <a href="#">Talepte Bulun</a>
                                        </li>
                                        <li>
                                            <a href="#">İzle & Takip Et</a>
                                        </li>
                                        <li>
                                            <a href="#">İş Başvurusu</a>
                                        </li>
                                        <li>
                                            <a href="#">Haberler</a>
                                        </li>
                                        <li>
                                            <a href="#">7/24 Canlı Destek</a>
                                        </li>
                                        <li>
                                            <a href="#">Kullanıcı Geri Dönüşleri</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 sub-two-right">
                                    <h6>Daha Fazla Bilgi</h6>
                                    <ul>
                                        <li>
                                            <a href="#">Planlama</a>
                                        </li>
                                        <li>
                                            <a href="#">Uzman İpuçları</a>
                                        </li>
                                        <li>
                                            <a href="#">İpuçları & Stratejiler</a>
                                        </li>
                                        <li>
                                            <a href="#">Kolay Ödeme Yolları</a>
                                        </li>
                                        <li>
                                            <a href="#">Hızlı Ulaştırma</a>
                                        </li>
                                        <li>
                                            <a href="#"> SSS</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="below-section mt-lg-5 pt-lg-4">
                    <div class="copyright-footer">
                        <p class="copyright-column">
                            <a>
                                © 2022 Transpolar Bütün Hakları Saklıdır.
                            </a>
                        </p>

                        <ul class="footer-w3list text-right">
                            <li>
                                <a href="#url">Gizlilik Politikası</a>
                            </li>
                            <li>
                                <a href="#url">Şartlar &amp; Koşullar</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <!-- Js scripts -->
        <script src="~/Templates/Transpolar-Starter/assets/js/jquery-3.3.1.min.js"></script>
        <script src="~/Templates/Transpolar-Starter/assets/js/theme-change.js"></script>
        <!--/search-->
        <script src="~/Templates/Transpolar-Starter/assets/js/modernizr.custom.js"></script>
        <script src="~/Templates/Transpolar-Starter/assets/js/classie.js"></script>
        <script src="~/Templates/Transpolar-Starter/assets/js/demo1.js"></script>
        <!--//search-->
        <!-- MENU-JS -->
        <script>
            $(window).on("scroll", function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 80) {
                    $("#site-header").addClass("nav-fixed");
                } else {
                    $("#site-header").removeClass("nav-fixed");
                }
            });

            //Main navigation Active Class Add Remove
            $(".navbar-toggler").on("click", function () {
                $("header").toggleClass("active");
            });
            $(document).on("ready", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
                $(window).on("resize", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                });
            });

        </script>
        <!-- //MENU-JS -->
        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });

        </script>
        <!-- //disable body scroll which navbar is in active -->
        <!-- //bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fas fa-level-up-alt" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

        </script>
        <!-- //move top -->
    </footer>
    <script src="~/Templates/Transpolar-Starter/assets/js/bootstrap.min.js"></script>

</body>

</html>
